*{
    margin:0;
    padding:0;
}

 .formpage {
    width: 100%;
    background-image: url("image4.jpg");
    background-size: cover;  
    height: 100%;
}

.imageform{
    max-height: 100vh;
    opacity: 0%;
}

.row{
    height:inherit;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #24b4ab;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background-color: white;
    border: 10px;
    border-color: black;
    color: #24b4ab;
}
.this{
    text-align: center;
    align-items: center; 
    background-color: white;
    height:inherit 
}
.this a{
    font-size: 95%;
    color: #24b4ab;
    text-decoration: none;
}
